.button {
	padding: 16px;
	color: var(--second-color);
	text-align: center;
	border: none;
	background-color: transparent;
	border: 2px solid var(--second-color);
	transition: 0.3s;
	position: relative;
	text-transform: uppercase;
	font-weight: 500;
	&:hover {
		transform: scale(1.05);
	}
	&:disabled {
		border: 2px solid var(--disabled-color);
		color: var(--disabled-color);
	}
}
.close {
	background-color: var(--third-color);
}

.active {
	color: var(--third-color);
	background-color: var(--second-color);

	svg line {
		stroke: var(--third-color);
	}
}

.disabled {
	border: 2px solid var(--disabled-color);
	color: var(--disabled-color);
}
