.button {
	padding: 16px;
	color: #000;
	text-align: center;
	border: none;
	background-color: transparent;
	border: 2px solid #000;
	transition: 0.3s;
	position: relative;
	text-transform: uppercase;
	font-weight: 500;
	&:hover {
		transform: scale(1.05);
	}
	&:disabled {
		border: 2px solid #4e4e4e;
		color: #4e4e4e;
	}
}
.close {
	background-color: #fff;
}

.active {
	color: #fff;
	background-color: #000;

	svg line {
		stroke: #fff;
	}
}

.disabled {
	border: 2px solid #4e4e4e;
	color: #4e4e4e;
}
