.button {
	padding: 16px;
	color: #000;
	text-align: center;
	border: none;
	background-color: transparent;
	border: 2px solid #000;
	transition: 0.3s;
	position: relative;
	&:hover {
		transform: scale(1.05);
	}
}
.close {
		background-color: #fff;
}

.active {
	color: #fff;
	background-color: #000;

	svg line {
		stroke: #fff;
	}
}


