.wrapper {
	border: 2px solid var(--second-color);
	height: 40px;
	width: 40px;
    position: relative;
}

.input {
	appearance: none;
	height: 100%;
	width: 100%;
    padding: 0;
    margin: 0;
    &:checked + .check {
        opacity: 1;
    } 
}

.check {
    transition: 0.3s;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.focused {
    background-color: var(--second-color);
    line {
        stroke: var(--third-color);
    }
}
