.wrapper {
	display: grid;
	height: 100%;
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
    gap: 15px;

	h2 {
		font-size: 32px;
		line-height: 37px;
		color: var(--second-color);
		font-weight: 700;
		width: min-content;
		text-align: center;
        margin: 0;
	}
    p {
        padding: 0 50px;
        text-align: center;
        margin: 0;
    }
}
